{% extends 'transactions/base.html' %}

{% block title %}Category List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Categories</h1>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">{{ category.name }}</li>
        {% empty %}
            <li class="list-group-item">No categories found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_category' %}" class="btn btn-primary mt-3">Add New Category</a>
</div>
{% endblock %}
